<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
</head>

<body>

  {% include "_header.njk" %}

  <p>Dinner is:
     {{ dinner }}
  </p>

  {% include "_footer.njk" %}

</body>

</html>